*{
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #292c35;
}

body{
    font-family: Archivo, system-ui;
    transition: background-color 0.5s;
}

.logo{
    width: 50%;
    /* filter: invert(12%) sepia(9%) saturate(1330%) hue-rotate(187deg) brightness(96%) contrast(85%); */
}

.filter-light{
    width: 50%;
    filter: invert(12%) sepia(9%) saturate(1330%) hue-rotate(187deg) brightness(96%) contrast(85%);
    /* transition: filter 0.1s; */
}

.filter-dark {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(138deg) brightness(103%) contrast(101%);
}

header{
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:2em
}

.field{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 20% 80%;
    margin-bottom: 20px;
}

.title {
    font-style: italic;
    font-family: Newsreader, Georgia, Times, Times New Roman, serif;
}

.button{
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 10px;
    margin: 0 5px 0 0;
    border-radius: 2em;
    background-color: var(--dark-color);
    transition: color 0.3s, background-color 0.3s, border-color 0.5s;
}

.button:hover{
    color: black;
    background-color: white;
    border-color: var(--dark-color);
}

.content{
    text-align: justify;
}

/* Dark Mode */

.body-dark-mode{
    background-color: var(--dark-color);
    color: white;
}

.button-dark-mode{
    background-color: white;
    color: black;
    border-color: var(--dark-color);
}

.button-dark-mode:hover {
    background-color: var(--dark-color);
    border-color: white;
    color: white;
}

/* Media Queries */

@media only screen and (max-width: 1130px) {
    .container {
        width: 90%;
        gap:0;
    }
    .field {
        grid-template-columns: auto;
        margin-bottom: 3em;
    }
    .content {
        text-align: left;
    }
    .button {
        width: 100%;
        display: block;
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 20px;
        padding: 20px 0px;
    }
    .title {
        font-size: 2em;
        font-weight: 600;
        font-family: Archivo, system-ui;
        font-style: normal;
    }
}